<div class="wrapper">
    <nav class="footer-menu">
        <ul>
            <li data-target="inicio">
                <div class="pab"></div>
            </li>
            <li data-target="cv-dossier">
                <figure></figure>
                <figcaption>CV & DOSSIER</figcaption>
            </li>
            <li data-target="timeline">
                <figure></figure>
                <figcaption>TIMELINE</figcaption>
            </li>
            <li data-target="laboratory">
                <figure></figure>
                <figcaption>LABORATORY</figcaption>
            </li>
        </ul>
    </nav>
</div>