<div class="wrapper">
    <figure class="logo"></figure>
    <h1 class="title">Ataud azul</h1>
    <div class="social">
        <a href="mailto:babirusa@gmail.com">M</a>
        <a target="_blank" href="//plus.google.com/u/0/+PabloJiménezBeneyto/">G</a>
        <a target="_blank" href="//www.facebook.com/ataudazul">F</a>
        <a target="_blank" href="//twitter.com/Pabrick">T</a>
        <a target="_blank" href="//github.com/Pabrick">J</a>
        <a target="_blank" href="//www.linkedin.com/pub/pablo-jim%C3%A9nez-beneyto/54/521/259"> L</a>
    </div>
</div>
<div class="triangle-container">
    <div class="triangle"></div>
</div>